@import url("bootstrap/dist/css/bootstrap.min.css");

html,
body,
.container-fluid,
.map-row,
.map-col {
  height: 100% !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

body {
  font-size: 20px;
  line-height: 1.65em;
}

@media (hover: none) {
  .leaflet-tooltip-pane {
    display: none;
  }
}

#map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.leaflet-control-container,
.leaflet-top.leaflet-left,
.options-bar {
  width: 100% !important;
}
